Django>=3.0,<4.0
psycopg2-binary>=2.8
metapub
Owlready2==0.26
negspacy==0.1.9
pandas
torch==1.7.1
numpy
tqdm==4.55.0
rdflib==5.0.0
spacy==2.3.5
textdistance==4.2.0
transformers==4.2.2
roman==3.3
fasttext==0.9.2
pytest==6.2.4
scikit_learn==0.24.2
sentencepiece
openpyxl
lxml
pyparsing==2.4.7

